<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8"/>-->
<!--  <title>Spring Framework Guru</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Author List</h1>-->

<!--<table>-->
<!--  <tr>-->
<!--    <th>name</th>-->
<!--    <th>state</th>-->
<!--    <th>selection</th>-->
<!--  </tr>-->
<!--  <tr th:each="p : ${PLayer}">-->
<!--    <td th:text="${p.name}"></td>-->
<!--    <td><a th:href="@{}" th:text="Description">Description</a></td>-->
<!--    <td th:each="ing : ${menu.ingredient}"> &lt;!&ndash; I have only modified here &ndash;&gt;-->
<!--  </tr>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->